#floating-nav {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -16px) scale(.96);
  opacity: 0;
  pointer-events: none;
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  border-radius: 16px;
  z-index: 999999;
  transition: all .35s cubic-bezier(.22,1,.36,1);
}

#floating-nav.show {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
  pointer-events: auto;
}

#floating-nav button {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  transition: transform .15s ease, box-shadow .2s ease;
}

#floating-nav svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#floating-nav button:hover {
  transform: translateY(-2px);
}

#floating-nav button.tap {
  transform: scale(.92);
}

/* Tooltips */
.tooltip {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(6px);
  opacity: 0;
  background: rgba(0,0,0,.85);
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rempx;
  border-radius: 8px;
  white-space: nowrap;
  pointer-events: none;
  transition: all .2s ease;
}

button:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


:root {
  --accent: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --accent:#d8d8d8;
  }
}

/* ===== Scrollbar ===== */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}